@import "tailwindcss" source(none);
@import "@follow/components/tailwind";
@import "./base.css";
@import "./additional.css";
@import "./scrollbar.css";
@import "./cursor.css";
@config "../../../../tailwind.config.ts";
@source "../";
@source "../../index.html";
@source "../../../../../packages";
@source inline(
  "line-clamp-[1] line-clamp-[2] line-clamp-[3] line-clamp-[4] line-clamp-[5] line-clamp-[6] line-clamp-[7] line-clamp-[8]"
);

@media print {
  * {
    overflow: visible !important;
    page-break-after: avoid;
    page-break-before: avoid;
    break-inside: avoid;
    height: max-content;
  }
}
