@import "tailwindcss" source(none);
@import "@follow/components/tailwind";
@import "@fontsource/sn-pro/200-italic.css";
@import "@fontsource/sn-pro/200.css";
@import "@fontsource/sn-pro/300-italic.css";
@import "@fontsource/sn-pro/300.css";
@import "@fontsource/sn-pro/400-italic.css";
@import "@fontsource/sn-pro/400.css";
@import "@fontsource/sn-pro/500-italic.css";
@import "@fontsource/sn-pro/500.css";
@import "@fontsource/sn-pro/600-italic.css";
@import "@fontsource/sn-pro/600.css";
@import "@fontsource/sn-pro/700-italic.css";
@import "@fontsource/sn-pro/700.css";
@import "@fontsource/sn-pro/800-italic.css";
@import "@fontsource/sn-pro/800.css";
@import "@fontsource/sn-pro/900-italic.css";
@import "@fontsource/sn-pro/900.css";
@config "../../tailwind.config.ts";
@source "../";
@source "../../index.html";
@source "../../../../packages";
@source "../../../../node_modules/rc-modal-sheet";
@source inline(
  "line-clamp-[1] line-clamp-[2] line-clamp-[3] line-clamp-[4] line-clamp-[5] line-clamp-[6] line-clamp-[7] line-clamp-[8]"
);

button {
  --cursor-button: pointer;
}

::selection {
  @apply bg-accent text-white;
}

:root {
  --bg-opacity: rgba(255, 255, 255, 0.72);
  --test: red;
}

[data-theme="dark"] {
  --bg-opacity: rgba(29, 29, 31, 0.72);
}

.grecaptcha-badge {
  visibility: hidden !important;
}
